@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
}

@layer base {
  @font-face {
    font-family: HelveticaNeue;
    font-weight: 300;
    font-style: normal;
    src: url(../public/fonts/HelveticaNeueCyr-Light.ttf);
  }

  @font-face {
    font-family: HelveticaNeue;
    font-weight: 400;
    font-style: normal;
    src: url(../public/fonts/HelveticaNeueCyr-Roman.ttf);
  }

  @font-face {
    font-family: HelveticaNeue;
    font-weight: 500;
    font-style: normal;
    src: url(../public/fonts/HelveticaNeueCyr-Medium.ttf);
  }

  @font-face {
    font-family: HelveticaNeue;
    font-weight: bold;
    font-style: normal;
    src: url(../public/fonts/HelveticaNeueCyr-Bold.ttf);
  }

  @font-face {
    font-family: SK Modernist;
    font-weight: 400;
    font-style: normal;
    src: url(../public/fonts/Sk-Modernist-Regular.otf);
  }
}

.container-custom {
  max-width: 1280px;
  margin-inline: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

input {
  transition: all 0.3s ease-in-out;
}

/* .custom-bg {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0.25)
    ),
    url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
} */

.input-custom:focus + .x-custom {
  opacity: 1;
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

@media screen and (min-width: 80em) {
  body {
    overflow-y: hidden;
  }
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 25px;
}

::-webkit-scrollbar-thumb:hover {
  background: #222;
}
